<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Raleway:400,700' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="sidebar">
	  <div id="logo">
	  	<%= link_to root_path do %>
	  	  <%= image_tag "logo.jpeg" %>
	  	<% end %>
	  </div>

	  <ul>
	  	<li class="category">Website</li>
	  	<li><%= link_to "Blog", root_path %></li>
	  	<li><%= link_to "About", about_path%></li>
	  	<li><%= link_to "Portfolio", portfolio_path%></li>
	  	<li><%= link_to "Resume" , resume_path%></li>
	  </ul>
      
      <ul>
        <li class="category">Social</li>
        <li><a href="http://twitter.com/aviarenfeld">Twitter</a></li>
        <li><a href="http://instagram.com/aviarenfeld">Instagram</a></li>
        <li><a href="https://github.com/aviarenfeld">Github</a></li>
        <li><a href="mailto:aviarenfeld@gmail.com">Email</a></li>
      </ul>
      
      <% if user_signed_in? %>
        <p class="sign_in">Admin Login</p>
	  <% end %>
	</div>

	<div id="main_content">
	  <div id="header">
	  	<% if current_page?(root_path) %>
	  	  <p>All Posts</p>
	  	<% elsif current_page?(about_path) %>
	  	  <p>About</p>
	  	<% else %>
	  	  <%= link_to "Back to All Posts", root_path %>
	  	<% end %>

        <% if user_signed_in? %>
          <div class="buttons">
	  	    <button class="button"><%= link_to "New Post", new_post_path %></button>
	  	    <button class="button">Log Out</button>
	  	  </div>
	    <% end %>
	  </div>
	
      <% flash.each do |name, msg| %>
        <%= content_tag(:div, msg, class: "alert") %>
      <% end %>

    <%= yield %>
    </div>

</body>
</html>
